.about {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-gray);
}

.about .content-wrap {
    width: 100%;
}

.about .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about .block {
    flex-basis: calc(50% - 100px);
}

.about .block h1 {
    color: var(--main-purple-dark)
}

.about .block p {
    color: var(--main-black)
}