.banner {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("/images/banner/desktop.jpg");
    background-color: var(--main-purple);
}

.banner .content-wrap {
    width: 80%;
}

.banner h1 {
    font-size: 55px;
    text-align: center;
    margin-bottom: 30px;
    color: var(--main-white)
}

.buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.buttons a {
    font-size: 20px;
    font-weight: 600;
    border: solid 3px;
    padding: 1em 1.5em;
    text-decoration: none;
    color: var(--main-green);
    text-transform: uppercase;
}

.buttons a:hover {
    color: var(--main-green-dark);
}