.contact {
    padding: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-black);
    color: var(--main-green);
}

.contact .content-wrap {
    height: fit-content;
    width: 800px;
}

.contact .contact-wrap {
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    height: 100%
}

.contact-form {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.contact-wrap h2 {
    margin-bottom: 10px;
}

.contact-form form {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.contact-form .error {
    color: red;
    margin-bottom: 10px;
    width: fit-content;
    font-size: 14px;
}

.contact-form form .half-width {
    flex-basis: 49%;
}

.contact-form form input:not(.submit-btn),
.contact-form form textarea {
    font-weight: 100;
    width: 100%;
    line-height: 2em;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
}

.contact-form form input:not(.submit-btn) {
    height: fit-content;
}

.contact-form form textarea {
    height: 10em;
    resize: none;
}

.contact-form form input.submit-btn {
    text-transform: uppercase;
    border: 2px solid var(--main-green);
    height: 3em;
    width: 50%;
    font-weight: bold;
    color: var(--main-green);
    background-color: var(--main-black);
    cursor: pointer;
}

.contact-form form input.submit-btn:hover {
    border: 2px solid var(--main-green-dark);
    color: var(--main-green-dark);
}

.contact-form form input.submit-btn:focus {
    border: none;
    outline: none;
    color: var(--main-white);
    background-color: var(--main-purple);
}

.success {
    align-self: center;
}

@media only screen and (max-width: 650px) {
    .contact-form form input.submit-btn {
        width: 100%;
    }
}