.contact {
    height: 450px;
    display: flex;
    justify-content: center;
}

.contact-wrap {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    height: 100%
}

.contact-form {
    width: 100%;
    height: 100%;
}

.contact-wrap h2 {
    margin-bottom: 10px;
}

.contact-form form {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.contact-form form .half-width {
    flex-basis: 49%;
}

.contact-form form input:not(.submit-btn),
.contact-form form textarea {
    font-weight: bold;
    width: 100%;
    line-height: 1.5em;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
}

.contact-form form input:not(.submit-btn) {
    height: fit-content;
}

.contact-form form textarea {
    height: 55%;
    resize: none;
}

.contact-form form input.submit-btn {
    text-transform: uppercase;
    border-width: 1px;
    height: 10%;
    width: 50%;
    font-weight: bold;
}