@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Assistant');

@font-face {
	font-family: Assistant;
	src: url('https://fonts.googleapis.com/css?family=Assistant');
	unicode-range: U+0590-05FF;
}

* {
    scroll-behavior: smooth;
    font-family: Muli, Assistant;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

html {
    --main-black: #352F31;
    --main-green: #A3E42F;
    --main-green-hover: #8ACB1A;
    --main-purple: #8675E3;
    --main-purple-hover: #6A56DC;
    --main-purple-dark: #45435D;
    --main-white: white;
    --main-gray: #EFF0F0;
}

body {
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    text-transform: uppercase;
    margin: 0;
}

.img-sm {
    max-height: 50px;
}

.img-xs {
    max-height: 20px;
}

.content-wrap {
    max-width: 1200px;
    padding: 20px;
}

*:focus {
    outline: 2px solid #8675E3;
    border: none;
}

.rtl {
    direction: rtl;
}